.navbar {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  z-index: 100;
  background-color: var(--nav-bg);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.navbar.logo {
  width: 150px;
}
.navbar_menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: var(--text-color);
  font-size: 18px;
}
.navbar_right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar button {
  font-size: 16px;
  color: var(--text-color);
  border: 1px solid tomato;
  background: transparent;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.navbar button:hover {
  background-color: #fff4f2;
}
@media (prefers-color-scheme: dark) {
  .navbar button:hover {
    background-color: #2c1a16;
  }
}
.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--text-color);
}
.navbar li {
  cursor: pointer;
}
.navbar_search_icon {
  position: relative;
}
.navbar_search_icon .dot {
  position: absolute;
  min-height: 10px;
  min-width: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}
@media (max-width: 1050px) {
  .navbar {
    padding-left: 5%;
    padding-right: 5%;
  }
  .navbar.logo {
    width: 140px;
  }
  .navbar_menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar_right {
    gap: 30px;
  }
  .navbar_right img {
    width: 22px;
  }
  .navbar_right button {
    padding: 8px 25px;
  }
}
@media (max-width: 900px) {
  .navbar.logo {
    width: 120px;
  }
  .navbar_menu {
    gap: 15px;
    font-size: 16px;
  }
  .navbar_right {
    gap: 20px;
  }
  .navbar_right img {
    width: 20px;
  }
  .navbar_right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}
@media (max-width: 750px) {
  .navbar {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .navbar_menu {
    display: none;
  }
}
.navbar-search-input {
  width: 150px;
}
@media (max-width: 500px) {
  .navbar_right {
    gap: 12px;
  }
  .navbar .logo {
    width: 100px;
  }
  .navbar button {
    padding: 6px 15px;
    font-size: 14px;
  }
  .navbar-search-input {
    width: 100px;
  }
}
.navbar-profile {
  position: relative;
}
.navbar-profile img {
  width: 20px;
}
.nav-profile-dropdown{
   position:absolute;
   display: none;
   right: 0;
   z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--nav-bg);
  padding: 12px 25px;
  border-radius: 4px;
  outline: 2px solid var(--bg-color);
list-style: none;
box-shadow: var(--item-shadow);
}
.nav-profile-dropdown li{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.nav-profile-dropdown li :hover{
   color: tomato;

}