.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 4px 4%;
    background-color: var(--navbar-bg);
}
.navbar.logo{
    width:max(10%,80px)
}
.navbar.profile{
    width:40px;
}

@media (max-width: 600px) {
    .navbar {
        padding: 10px 20px;
    }
    .navbar .logo {
        width: 100px;
    }
    .navbar .profile {
        width: 35px;
    }
}