@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  box-sizing: border-box;
  margin:0%;
  padding: 0;
  font-family: outfit;
  scroll-behavior:smooth;
}
html, body{
  min-height: 100vh;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.app{
  width: 80%;
  margin: auto;
  padding-top: 80px;
}

@media (max-width: 1050px) {
  .app {
    width: 90%;
  }
}

@media (max-width: 750px) {
  .app {
    width: 95%;
  }
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}